@import url();

* {
    box-sizing: border-box;
}

body { 
    /*  gradient Background from = https://blog.logrocket.com/advanced-effects-with-css-background-blend-modes-4b750198522a/ */
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.main { 
    background-color: rgb(0, 0, 0,0.1);
    padding: 30px 60px;
    border-radius: 15px;

}
.main h1 {
    text-align: center;
    margin-bottom: 30px;
    text-shadow: rgb(0, 0, 0,0.4);
}
.main a {
    text-decoration: none;
    color: aliceblue;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    font-family: inherit;
    font-size: 15px ;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.767);
}
.btn:focus {
    outline: 0;
}
.btn:active {
    transform: scale(.87);
    background: rgba(255, 255, 255, 0.582);
    color: rgba(0, 0, 0, 0.568);
}
.text {
    margin-top: 30px;
}
.text a {
    color: rgba(240, 248, 255, 0.678);
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}
.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color:aliceblue

}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
}
.form-control label {
    position: absolute;
    top: 10px;
    left: 0px;

}
.form-control label span {
    display: inline-block;
    font-size: 20px;
    min-width: 5px;
    color: aliceblue;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.256, 1.55);
}
.form-control input:focus + label span,
.form-control input:active + label span,
.form-control input:invalid + label span {
    color: rgba(240, 248, 255, 0.644);
    transform: translateY(-30px);
}